.adminStock-Container {
    font-family: "Roboto";

    .adminStock-SubContainer {
        height: 90%;

        .raphael-group-DFwIWRra {
            display: none;
        }
    }

    .adminStock-Footer {
        height: 10%;
    }
}
