.signUp-SubContainer-Header {
    height: 55px;
    font-family: "Roboto";
    display: flex;
    align-items: center;
}

.signUp-SubContainer-Body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    background-color: blueviolet;

    .signUp-SubContainer-Body-Box1 {
        min-width: 35%;

        .signUp-SubContainer-Body-Box1-Header {
            height: 15%;
        }
        .signUp-SubContainer-Body-Box1-Body {
            height: 75%;
        }
        .signUp-SubContainer-Body-Box1-Footer {
            height: 10%;
            text-decoration: none;
        }
    }
}
